body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.page-header>h1 {
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}

.nav>li {
    padding: 0 15px;
}

.nav-item {
    color: #6e7ea9;
}

.btn-free {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    background-color: #1085e4;
    border-radius: 30px;
    padding:21px 54px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    border-radius: 30px;
    padding:20px 40px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-second {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    border-radius: 30px;
    padding:20px 40px;
    margin-left: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.btn-second:hover {
    background-color: #fff;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    color: #1085e4;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.wrap {
    max-width: 1100px;
    border: 1px solid red;
    margin: 0 auto;
}

/* SUBSCRIBE */
.page-subscribe {
    background-color: #0a2090;
    background: linear-gradient(to right, #0a2090, #2377cd);
}

.page-subscribe p {
    color: #dfe8ff;
    font-size: 18px;
    font-weight: 400;
}

.page-subscribe h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.page-subscribe h2 span {
    color: #00bffe;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.page-subscribe img {

}

.page-subscribe input {
    color: #b1c3ee;
    border: 1px solid #446cbc;
    font-size: 14px;
    font-weight: 400;
}

.page-subscribe .btn-primary {
    font-size: 14px;
    font-weight: 700;
    padding: 16px 44px;
    letter-spacing: 2.8px;
}

/* STAT */
.page-stat {
    background-color: #edf6ff;
    max-height: 542px;
    text-align: center;
    padding: 105px 0;
}

.page-stat h2 span {
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    letter-spacing: 3.5px;
}

.page-stat h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
}

.page-stat ul li span {
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
    display: block;
}

.page-stat ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: #1085e4;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
}

/* COMPANY */
.page-company {
    background-color: #1085e4;
    background-image: url(../img/bg_company.png);
    background-size: cover;
}

.page-company>.wrap>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 83px 20px;
    border: 1px solid #000;
}

.page-company>.wrap>ul>li {
    border: 1px solid red;
}


/* SCREEN */
.page-screen {
    background-color: #edf6ff;
    text-align: center;
}

.page-screen img {
    margin-bottom: -3px;
}

.page-screen h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.2px;
    margin-bottom: 72px;
}

.page-screen h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
    line-height: 90pt;
    margin: 12px;
    letter-spacing: 3.5px;
}